{{> head}}
{{> navbar}}

<div class="row">
    <div class="row-8">
        <h1>
            Pikachu 
        </h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos assumenda iusto reprehenderit, necessitatibus suscipit unde, repellat alias accusantium molestias voluptatum aperiam culpa aliquam incidunt eius et, magnam corporis facere atque.
        </p>
    </div>

    <div class="row-4">
        <img src="assets/img/pikachu.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer}}